{% extends "partials/simple-layout.njk" %}

{% set item_path = "../" %}
{% set item_name = "Status" %}

{# open content region for element/component #}
{% block simpleContent %}
<p>Below is a complete inventory of all assets associated with the Style Guide and their release version compared to the current Style Guide version{# (<a href="https://github.com/o3world/vtx-design-system/releases/tag/v{{ version }}" target="_blank" title="View Current Release ({{ version }})">{{ version }}</a>)#}.</p>

{% import 'macros/status-nav-macro.njk' as statusNav %}

{% set statusList = [] %}

{% for item in navItems %}
    {% for subitem in item.menu_children_items %}
        {% set statusList = (statusList.push({directory: item.menu_directory, sectionName: item.menu_name, title: subitem.item_title, targetBlank: subitem.item_target_blank, added: subitem.item_version_added, lastUpdated: subitem.item_version_last_modified, isExperimental: subitem.item_is_experimental}), statusList) %}
    {% endfor %}
{% endfor %}

{{ statusNav.buildStatusList(items=statusList, releaseVersion=version) }}

{% endblock %}
