/* == Grid System ============================================ */
.column, .columns {
    position:relative;
    float:left;
    margin:0;
    @include box-sizing(border-box);
}

.half           { @include col($columns / 2); }
.one-third      { @include col($columns / 3); }
.two-thirds     { @include col(($columns / 3) * 2); }

.one            { @include col(1); }
.two            { @include col(2); }
.three          { @include col(3); }
.four           { @include col(4); }
.five           { @include col(5); }
.six            { @include col(6); }
.seven          { @include col(7); }
.eight          { @include col(8); }
.nine           { @include col(9); }
.ten            { @include col(10); }
.eleven         { @include col(11); }
.twelve         { @include col(12); }
.thirteen       { @include col(13); }
.fourteen       { @include col(14); }
.fifteen        { @include col(15); }
.sixteen        { @include col(16); }

@media only screen and (max-width: 767px) {
    .half.column,.half.columns,
    .one-third.column,.one-third.columns,
    .two-thirds.column,.two-thirds.columns,
    .one.column,.one.columns,
    .two.columns,
    .three.columns,
    .four.columns,
    .five.columns,
    .six.columns,
    .seven.columns,
    .eight.columns,
    .nine.columns,
    .ten.columns,
    .eleven.columns,
    .twelve.columns,
    .thirteen.columns,
    .fourteen.columns,
    .fifteen.columns,
    .sixteen.columns { @include col(16); }
}