{% extends "layouts/layout.njk" %}

{% block codeContent %}
<div class="vk-content__detail">
    <h2>Description</h2>
    {% block description %}
    <p>Item Description Content Needed</p>
    {% endblock %}
    <h2>Guidelines</h2>
    {% block guidelines %}
    <p>Item Design Guidelines Content Needed</p>
    {% endblock %}
    <h2>Usage</h2>
    {% block usage %}
    <p>Item Development Usage Content Needed</p>
    {% endblock %}
</div>

{# the `.xrayhtml__*` class allows custom styles to be applied to element/component specific code samples #}
<div data-xrayhtml class="xrayhtml--{{item_scss_file}}">
{% block snippet %}{% endblock %}
</div>
{% endblock %}
