{# this file is dynamically built from variables - no updates are needed #}
<div class="vk-nav__container" data-vk-nav="container">
    <nav class="vk-nav__nav-container vk-nav__nav-container--primary">
        <ol class="u-list-unstyled vk-nav__list">
            {% for item in navItems %}
            <li class="vk-nav__item{% if item_name == item.menu_name %} is-active{% endif %}">
                {% if item.menu_children == "true" %}
                <button class="vk-nav__link" data-vk-subnav="toggle">
                    <svg class="u-icon-nav-temp-dims vk-nav__icon">
                        <use xlink:href="#nav-temp"></use>
                    </svg>
                    <span class="vk-nav__link-text">{{ item.menu_name }}</span>
                    <span class="vk-nav-toggle__icon"></span>
                </button>
                <div class="vk-nav__nav-container vk-nav__nav-container--secondary" data-vk-subnav="panel">
                    <span class="vk-nav__title">{{ item.menu_name }}</span>
                    <ol class="u-list-unstyled vk-nav__list">
                        {% if item.menu_children_sort == "true" %}
                            {% for subitem in item.menu_children_items|sort(attribute='item_title') %}
                            <li class="vk-nav__item{% if item_name == subitem.item_title %} is-active{% endif %}"><a href="{{ styleguide_path }}style-guide/{{ item.menu_directory }}/{{ subitem.item_title | lower | replace(" ", "-") }}.html" class="vk-nav__link" {% if subitem.item_target_blank == "true" %}target="_blank" {% endif %}title="{{ subitem.item_title }}">{{ subitem.item_title }}{% if subitem.item_is_experimental == "true" %}<span class="vk-badge vk-badge--experimental">E<span class="u-sr-only">xperimental</span></span>{% endif %}{% if subitem.item_version_added == version %}<span class="vk-badge vk-badge--added">A<span class="u-sr-only">dded</span></span>{% endif %}{% if subitem.item_version_last_modified == version %}<span class="vk-badge vk-badge--updated">U<span class="u-sr-only">pdate</span></span>{% endif %}</a></li>
                            {% endfor %}
                        {% else %}
                            {% for subitem in item.menu_children_items %}
                            <li class="vk-nav__item{% if item_name == subitem.item_title %} is-active{% endif %}"><a href="{{ styleguide_path }}style-guide/{{ item.menu_directory }}/{{ subitem.item_title | lower | replace(" ", "-") }}.html" class="vk-nav__link" {% if subitem.item_target_blank == "true" %}target="_blank" {% endif %}title="{{ subitem.item_title }}">{{ subitem.item_title }}{% if subitem.item_is_experimental == "true" %}<span class="vk-badge vk-badge--experimental">E<span class="u-sr-only">xperimental</span></span>{% endif %}{% if subitem.item_version_added == version %}<span class="vk-badge vk-badge--added">A<span class="u-sr-only">dded</span></span>{% endif %}{% if subitem.item_version_last_modified == version %}<span class="vk-badge vk-badge--updated">U<span class="u-sr-only">pdate</span></span>{% endif %}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ol>
                </div>
                <!-- /.vk-nav__nav-container--secondary -->
                {% else %}
                <a href="{{ item.menu_external_link }}" class="vk-nav__link" target="_blank" title="View {{ item.menu_name }}">
                    <svg class="u-icon-nav-temp-dims vk-nav__icon">
                        <use xlink:href="#nav-temp"></use>
                    </svg>
                    <span class="vk-nav__link-text">{{ item.menu_name }}</span>
                </a>
                {% endif %}
            </li>
            {% endfor %}

            {% if version >= "1.0.0" %}
            <li class="vk-nav__item{% if item_name == "Status" %} is-active{% endif %}">
                <a href="{{ styleguide_path }}style-guide/status.html" class="vk-nav__link" title="{{ item.menu_name }}">
                    <svg class="u-icon-nav-temp-dims vk-nav__icon">
                        <use xlink:href="#nav-temp"></use>
                    </svg>
                    <span class="vk-nav__link-text">Status</span>
                </a>
            </li>
            {% endif %}
        </ol>
        <!-- /.vk-nav__list -->
    </nav>
    <!-- /.vk-nav__nav-container--primary -->
</div>
<!-- /.vk-nav__container -->
