{# this file is dynamically built from variables - no updates are needed #}
<footer class="vk-site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-5 vk-site-footer__brand">
                <a href="./" class="vk-logo vk-logo--footer" title="Home | {{ client }} {{ project }}"><img src="{{ item_path }}images/logo-{{ client | lower | replace(" ", "-") | replace(".", "") }}-footer.svg" alt="{{ client }} Logo"></a>
            </div>
            <div class="col-xs-7 u-text-right vk-site-footer__legal">
                <p class="u-margin-hug-top">{{ project }} v<a href="http://semver.org/" target="_blank" title="Semantic Versioning">{{ version }}</a><br>
                    &copy; 2018 {{ client }} All Rights Reserved</p>
                <p class="u-margin-hug">Last Updated: <time class="date" data-date="lastmodified"></time></p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</footer>
<!-- /.vk-footer -->
