{# this region is dynamically built from variables - no updates are needed #}
<ul class="vk-status__list">
    <li class="vk-status__item is-{{ item_status_design | lower }}">Status: Design</li>
    <li class="vk-status__item is-{{ item_status_development | lower }}">Status: Development</li>
    <li class="vk-status__item is-{{ item_status_documentation | lower }}">Status: Documentation</li>
</ul>
<!-- /.name -->
