<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% if item_name %}{{ item_name }} | {% endif %}{{ client }} - {{ project }}</title>
        <meta name="description" content="{{ item_description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ item_path }}apple-touch-icon.png?v=6947e3KaQB">

        <link rel="icon" type="image/png" sizes="32x32" href="{{ item_path }}favicon-32x32.png?v=6947e3KaQB">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ item_path }}favicon-16x16.png?v=6947e3KaQB">

        <link rel="manifest" href="{{ item_path }}manifest.json?v=6947e3KaQB">

        <link rel="mask-icon" href="{{ item_path }}safari-pinned-tab.svg?v=6947e3KaQB" color="#173b6b">

        <link rel="shortcut icon" href="{{ item_path }}favicon.ico?v=6947e3KaQB">

        <meta name="msapplication-TileColor" content="#173b6b">
        <meta name="msapplication-TileImage" content="{{ item_path }}mstile-144x144.png?v=6947e3KaQB">
        <meta name="theme-color" content="#173b6b">

        <link rel="stylesheet" href="{{ item_path }}styles/styles.min.css">
        <link rel="stylesheet" href="{{ item_path }}styles/style-guide.min.css" media="all"/>
    </head>

    <body class="is-development">
        <div style="position:absolute;">
            {% include "assets/sprite-ui.svg" %}
        </div>

        <div class="vk-site-container">
            <button class="vk-nav-btn" data-vk-nav="toggle">
                <span class="vk-nav-btn__icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <span class="u-sr-only">Menu</span>
            </button>
            <!-- /.vk-nav-btn -->

            <div class="vk-site-content">
                <main class="vk-content__container">
                    {% include "ui/item-header.njk" %}
                    <div class="vk-content__inner">
                        {# {% include "ui/status.njk" %} #}

                        {# simple content block #}
                        {% block simpleContent %}{% endblock %}

                        {# code sample block #}
                        {% block codeContent %}{% endblock %}
                    </div>
                    <!-- /.vk-content__inner -->
                </main>
                <!-- /.vk-main -->

                <div class="vk-fixed-panel">
                    <a href="{{ item_path }}style-guide/" class="vk-logo vk-logo--header" title="Home | {{ client }} {{ project }}"><img src="{{ item_path }}images/logo-{{ client | lower | replace(" ", "-") | replace(".", "") }}-header.svg" alt="{{ client }} Logo"></a>

                    {# primary navigation #}
                    {% block nav %}
                    {% include "ui/navigation.njk" %}
                    {% endblock %}
                </div>
                <!-- /.vk-fixed-panel -->
            </div>
            <!-- /.vk-site-content -->

            {% include "ui/site-footer.njk" %}
        </div>
        <!-- /.vk-site-container -->

        {# REMOVED #}

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        <script>
            window.jQuery || document.write('<script src="{{ item_path }}scripts/jquery-3.2.1.min.js"><\/script>')
        </script>
        
        <script src="https://unpkg.com/ag-grid@17.1.1/dist/ag-grid.min.js"></script>
        <script src="{{ item_path }}scripts/xrayhtml-2.1.3.min.js"></script>
        <script src="{{ item_path }}scripts/prism-1.9.0.min.js"></script>

        <script src="{{ item_path }}scripts/plugins.min.js"></script>
        <script src="{{ item_path }}scripts/scripts.min.js"></script>

        <!-- custom javascript -->
        {% block customjs %}
        {% include "ui/js-footer.njk" %}
        {% endblock %}
        <!-- /nav -->

        <script src="https://rawgit.com/jonathantneal/svg4everybody/master/dist/svg4everybody.js"></script>
        <script>svg4everybody();</script>

        <script src="{{ item_path }}scripts/style-guide.js"></script>
    </body>
</html>
