{% extends "partials/code-layout.njk" %}

{% set item_path = "../../" %}
{% set item_category = "Element" %}
{% set item_name = "Button" %}
{% set item_scss_directory = "partial" %}
{% set item_scss_file = "buttons" %}

{# status options: Needed | Progress | Producton #}
{% set item_status_design = "Production" %}
{% set item_status_development = "Production" %}
{% set item_status_documentation = "Progress" %}

{# provide a detailed description of the element/component #}
{% block description %}
<p>Universal CTA element treatment used across the entire site for most presentational Link and Button display.</p>
<p>Included are modifiers for existing <code>.btn</code> class to display a different color button treatment.</p>
{% endblock %}

{# provide any necessary design guidelines or options for how the element/component looks #}
{% block guidelines %}
<ul>
    <li>Use all caps for button labels.</li>
    <li>Use primary buttons for the most important action on the page.</li>
    <li>Only one primary button should be used per page.</li>
    <li>Primary buttons may leverage a subtle drop shadow. On hover, the shadow is removed.</li>
    <li>Add an icon to signal to a specific action (download, play, etc.).</li>
</ul>
{% endblock %}

{# provide a breakdown of how and when the element/component should be used and if there are alternatives #}
{% block usage %}
<p>The <code>.btn</code> class can be applied to both <code>button</code> and link (<code>a</code>) elements that need a Button treatment.</p>
<p>The existing <code>.btn</code> class will still be applied to both <code>button</code> and link (<code>a</code>) elements that need a Button treatment, but you add the modifier class to make it a different treatment.</p>
{% endblock %}

{# code snippet for element/component #}
{% block snippet %}
<button class="btn btn--primary">Primary Button</button>
<button class="btn btn--primary">
    Primary Button (Icon)
    <svg class="u-icon-play-dims u-icon-right">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use>
    </svg>
</button>
<button class="btn btn--primary" disabled="disabled">Primary Button Disabled</button>

<a href="#" class="btn btn--primary" title="BUTTON_NAME">Primary Button (Link)</a>
<a href="#" class="btn btn--primary" title="BUTTON_NAME">
    Primary Button (Link) (Icon)
    <svg class="u-icon-play-dims u-icon-right">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use>
    </svg>
</a>

<button class="btn btn--secondary">Secondary Button</button>
<button class="btn btn--secondary">
    Secondary Button (Icon)
    <svg class="u-icon-play-dims u-icon-right">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use>
    </svg>
</button>
<button class="btn btn--secondary" disabled="disabled">Secondary Button Disabled</button>

<a href="#" class="btn btn--secondary" title="BUTTON_NAME">Secondary Button (Link)</a>
<a href="#" class="btn btn--secondary" title="BUTTON_NAME">
    Secondary Button (Link) (Icon)
    <svg class="u-icon-play-dims u-icon-right">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use>
    </svg>
</a>

<button class="btn btn--tertiary">Tertiary Button</button>
<button class="btn btn--tertiary">
    Tertiary Button (Icon)
    <svg class="u-icon-play-dims u-icon-right">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use>
    </svg>
</button>
<button class="btn btn--tertiary" disabled="disabled">Tertiary Button Disabled</button>

<a href="#" class="btn btn--tertiary" title="BUTTON_NAME">Tertiary Button (Link)</a>
<a href="#" class="btn btn--tertiary" title="BUTTON_NAME">
    Tertiary Button (Link) (Icon)
    <svg class="u-icon-play-dims u-icon-right">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use>
    </svg>
</a>

<div class="btn-group btn-group--dropdown flyout__container flyout__container--btn-dropdown" data-save-dropdown="button-container">
    <button class="btn btn--primary" title="BUTTON_NAME" data-save-dropdown="button">
        Save
        <svg class="u-icon-chevron-down-nofill-dims">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-down-nofill"></use>
        </svg>
    </button>
    <div class="flyout__panel">
        <ul class="u-list-unstyled flyout__list">
            <li class="flyout__item"><a href="#" class="flyout__link">Save</a></li>
            <li class="flyout__item"><a href="#" class="flyout__link">Save and Execute Mapping</a></li>
        </ul>
    </div>
</div>

<div class="btn-group btn-group--dropdown btn-group--dropdown--double-btn flyout__container flyout__container--btn-dropdown" data-save-dropdown="button-container">
    <button class="btn btn--primary" title="BUTTON_NAME">Save</button>
    <div class="btn-group__dropdown-content">
        <button class="btn btn--primary" title="BUTTON_NAME" data-save-dropdown="button">
            <span class="u-sr-only">Show Dropdown</span>
            <svg class="u-icon-chevron-down-nofill-dims">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-down-nofill"></use>
            </svg>
        </button>
        <div class="flyout__panel">
            <ul class="u-list-unstyled flyout__list">
                <li class="flyout__item"><a href="#" class="flyout__link">Save and Execute Mapping</a></li>
            </ul>
        </div>
    </div>
</div>

<button class="btn btn--transparent btn__show-hide" data-toggle="show-hide">Show Used</button>
{% endblock %}
