{% extends "partials/simple-layout.njk" %}

{% set item_path = "../../" %}
{% set item_category = "Styles" %}
{% set item_name = "Color" %}
{% set item_scss_directory = "global" %}
{% set item_scss_file = "variables" %}

{# status options: Needed | Progress | Producton #}
{% set item_status_design = "Production" %}
{% set item_status_development = "Production" %}
{% set item_status_documentation = "Progress" %}

{# open content region for element/component #}
{% block simpleContent %}
<h3>Primary Colors</h3>
<ul class="vk-color-palette__list vk-color-palette__list--primary">
    <li class="vk-color-palette__item primary-base">
        <p class="vk-color-palette__text"><strong class="vk-color-palette__text-title">Primary</strong><br>
            <span class="vk-color-palette__text-hex">#c3d941</span></p>
    </li>
    <li class="vk-color-palette__item primary-dark">
        <p class="vk-color-palette__text"><strong class="vk-color-palette__text-title">Primary (Dark)</strong><br>
            <span class="vk-color-palette__text-hex">#a3b536</span></p>
    </li>
</ul>
<h3>Secondary Colors</h3>
<ul class="vk-color-palette__list vk-color-palette__list--primary">
    <li class="vk-color-palette__item secondary-base">
        <p class="vk-color-palette__text"><strong class="vk-color-palette__text-title">Secondary</strong><br>
            <span class="vk-color-palette__text-hex">#0064d6</span></p>
    </li>
    <li class="vk-color-palette__item secondary-dark">
        <p class="vk-color-palette__text"><strong class="vk-color-palette__text-title">Secondary (Dark)</strong><br>
            <span class="vk-color-palette__text-hex">#003a7a</span></p>
    </li>
    <li class="vk-color-palette__item secondary-darker">
        <p class="vk-color-palette__text"><strong class="vk-color-palette__text-title">Secondary (Darker)</strong><br>
            <span class="vk-color-palette__text-hex">#002c5f</span></p>
    </li>
</ul>
<hr>
<h3>Default Colors</h3>
<ul class="vk-color-palette__list vk-color-palette__list--secondary">
    <li class="vk-color-palette__item default-black">
        <p class="vk-color-palette__text"><strong class="vk-color-palette__text-title">Black</strong><br>
            <span class="vk-color-palette__text-hex">#000</span></p>
    </li>
    <li class="vk-color-palette__item default-white">
        <p class="vk-color-palette__text"><strong class="vk-color-palette__text-title">White</strong><br>
            <span class="vk-color-palette__text-hex">#fff</span></p>
    </li>
</ul>
{% endblock %}
