{% extends "partials/code-layout.njk" %}

{% set item_path = "../../" %}
{% set item_category = "Styles" %}
{% set item_name = "Grid" %}
{% set item_scss_directory = "partial" %}
{% set item_scss_file = "grid" %}

{# status options: Needed | Progress | Producton #}
{% set item_status_design = "Production" %}
{% set item_status_development = "Production" %}
{% set item_status_documentation = "Progress" %}

{# provide a detailed description of the element/component #}
{% block description %}
<p>Grid Layout for various content display options used in the layout of page content.</p>
{% endblock %}

{# provide any necessary design guidelines or options for how the element/component looks #}
{% block guidelines %}
<p>The 12-column grid is used to provide versitility to the display of elements and components within the content region. Regardless of the combination of columns, a consistent grid gutter is used to evenly space elements in rows.</p>
{% endblock %}

{# provide a breakdown of how and when the element/component should be used and if there are alternatives #}
{% block usage %}
<p>There are several different types of grid layouts that are used in various instances. The maxinum number of grid columns is 12. The grid elements can be placed in any order, so long as it adds up to exactly 12.</p>
{% endblock %}

{# code snippet for element/component #}
{% block snippet %}
<div class="container-fluid container-content">
    <div class="row">
        <div class="col-sm-12">.col-sm-12</div>
    </div>
</div>

<div class="container-fluid container-content">
    <div class="row">
        <div class="col-sm-8">.col-sm-8</div>
        <div class="col-sm-4">.col-sm-4</div>
    </div>
</div>

<div class="container-fluid container-content">
    <div class="row">
        <div class="col-sm-6">.col-sm-6</div>
        <div class="col-sm-6">.col-sm-6</div>
    </div>
</div>

<div class="container-fluid container-content">
    <div class="row">
        <div class="col-sm-4">.col-sm-4</div>
        <div class="col-sm-4">.col-sm-4</div>
        <div class="col-sm-4">.col-sm-4</div>
    </div>
</div>

<div class="container-fluid container-content">
    <div class="row">
        <div class="col-sm-3">.col-sm-3</div>
        <div class="col-sm-3">.col-sm-3</div>
        <div class="col-sm-3">.col-sm-3</div>
        <div class="col-sm-3">.col-sm-3</div>
    </div>
</div>

<div class="container-fluid container-content">
    <div class="row">
        <div class="col-sm-2">.col-sm-2</div>
        <div class="col-sm-2">.col-sm-2</div>
        <div class="col-sm-2">.col-sm-2</div>
        <div class="col-sm-2">.col-sm-2</div>
        <div class="col-sm-2">.col-sm-2</div>
        <div class="col-sm-2">.col-sm-2</div>
    </div>
</div>

<div class="container-fluid container-content">
    <div class="row">
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
    </div>
</div>

{% endblock %}
